/* ==UserStyle==
@name           seller.shopee.tw - 10/1/2022, 10:52:54 AM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document regexp("https?://shopee.tw/verify/.*") {
    /* Insert code here... */
    :root {
        --theme-color: hsl(10, 20%, 10%);
        --black-000: #000;
        --black-100: hsl(0, 0%, 10%);
        --black-200: hsl(0, 0%, 20%);
        --gray: hsl(0, 0%, 50%);
        --white-000: #fff;
        --white-100: hsl(0, 0%, 90%);
        --white-200: hsl(0, 0%, 80%);
        --white-300: hsl(0, 0%, 70%);
        --white-400: hsl(0, 0%, 60%);
    }

    body,
    .XBbhCr,
    .shopee-searchbar-hints,
    .shopee-searchbar-user-hints,
    .shopee-searchbar-selector__options,
    .stardust-button,
    .xz\ + pE5,
    .shopee-alert-popup,
    ._1EQVMQ,
    .header-with-search-wrapper,
    .header-with-search-wrapper .shopee-searchbar-input,
    .header-with-search-wrapper .header-with-search__app-download-wrapper__link-layout,
    .oRtS94,
    .ifg8NW,
    .e326xl,
    .DGaLxl,
    .FD9KOo,
    .navbar .shopee-dropdown .shopee-popover,
    .navbar .shopee-dropdown__entry:not(.shopee-dropdown__entry--selected),
    .navbar-account-drawer__content,
    .shopee-cart-number-badge,
    .shopee-notification-number-badge,
    .ebQ6br,
    .W4jGm6,
    .uqMJQA,
    .shopee-address-picker,
    .shopee-address-picker__search-bar,
    .notification-card__image,
    .notification-card__button .shopee-button-outline,
    .notification-card--unread,
    .shop-collection-list,
    .shop-collection-list__item-image__adult-mask,
    .order-detail-header,
    .order-detail-header__invoice-popover,
    .order-detail-header__action-container,
    .shopee-order-detail__coin-info,
    .category-grid:hover,
    .theme--ofs .btn-add-to-cart,
    .theme--ofs .btn-chat-now,
    .theme--ofs .btn-add-to-cart:hover,
    .theme--ofs .btn-chat-now:hover,
    .J1i6cp,
    .AQsRR0,
    .vtexOX,
    .loading-spinner-popup__container,
    .adult-screen,
    .flxK9n,
    .shopee-sort-by-options .shopee-dropdown__entry,
    .shopee-header-section__header .shopee-button-outline,
    .shopee-header-section__header .shopee-button-outline--rounded,
    .zWrO5B,
    ._7DTxhh {
        background-color: var(--black-100);
    }

    .uJf1WK {
        background-color: var(--black-200);
    }
    .jR\ + Ken {
        background-color: inherit;
    }
    .shopee-searchbar-hints__entry,
    .shopee-searchbar-hints__search-prefill,
    .shopee-searchbar-hints__search-shop,
    .shopee-searchbar-user-hints__entry,
    .shopee-searchbar-selector,
    .shopee-button-no-outline--tributton,
    .stardust-button,
    .ofs-more-menu__item,
    .ofs-navbar__item,
    .ofs-header__left,
    .FD9KOo ._40RGqV,
    .FD9KOo:hover :not(:hover),
    .navbar-account-drawer__button,
    .JMCbqu,
    body .stardust-popup .stardust-popup-button--secondary,
    .shop-collection-list__item,
    .shop-collection-list__item-desc-name,
    .categories-breadcrumb__link--home,
    .category-grid,
    ._1-4Xn.xCn81,
    .btS4Qu,
    .AOGk\ + u,
    .MgGmhg,
    .shopee-page-controller--v2 .shopee-button-no-outline,
    .shopee-search-result-header__keyword-item,
    .shopee-search-empty-result-section__title,
    .shopee-header-section__header-link,
    .tWpFe2 .VTjd7p,
    .r6HknA,
    .lz-K5E,
    ._2gBEww,
    .FwSM9q,
    .YGSJqm,
    .vmVDgv,
    ._2q\ + eYR,
    .bHRT42 {
        color: var(--white-000);
    }
    .YevWYF,
    .v2Lbca,
    .K1dDgL,
    .djDwfD,
    .u9tve2,
    .shopee-popup-form__title,
    .shopee-search-result-header__text-emphasize,
    .shopee-search-recommendation .shopee-header-section--simple .shopee-header-section__header__title,
    .select-with-status__value,
    .select-with-status__dropdown-item {
        color: var(--white-100);
    }

    .shopee-searchbar-input__input:-moz-placeholder,
    .shopee-searchbar-input__input:-ms-input-placeholder,
    .shopee-searchbar-input__input::-webkit-input-placeholder,
    .shopee-searchbar-input__input::-moz-placeholder,
    .xaEWTX,
    .p5eoFe,
    .yKcng4,
    .TQUmpD,
    .navbar-wrapper--light .navbar,
    .navbar-wrapper--light .navbar__link--separator,
    .\-96EVm,
    ._1yz5p4,
    .notification-card__description,
    .notification-card__content,
    .notification-card__info,
    .notification-card--group-secondary .notification-card__title,
    .notification-card--mini .notification-card__content,
    .shop-collection-list__item-desc-product,
    .order-detail-header__back-button,
    .order-detail-header__invoice-title,
    .purchase-text-info,
    .shopee-order-detail__coin-info-sublabel,
    .rating-modal__created-time,
    .rating-modal__rating-action-container,
    .rating-modal-edit-item__back-button,
    .rating-modal-handler__rating-prompt-text,
    .a-category__sub-categories--wrapper .a-sub-category--display-name,
    ._2eFANg,
    .shopee-popup-form__message,
    .shopee-popup-form__subheader,
    .j3Jd4\ + ,
    .VdUJMh,
    .mITBba,
    .zH8bNZ,
    .WQyuP,
    .shopee-page-controller--v2 .shopee-icon-button,
    .original-search-link__text,
    .shopee-search-empty-result-section__hint,
    .shopee-header-section--simple .shopee-header-section__header__title,
    .dQAXj1.dQAXj1,
    .-ClOx,
    .g6x5Or,
    .ZZuLsr,
    .U-MP7r,
    .qFOKV-,
    ._5MXhAQ,
    .sjGFQO,
    ._44cRhG {
        color: var(--white-200);
    }
    .QD-32D {
        filter: invert(1);
    }
    .E62KYV {
        border-color: var(--gray);
    }
}
@-moz-document domain("seller.shopee.tw") {
    /* Insert code here... */
    :root {
        --theme-color: hsl(10, 20%, 10%);
        --theme-color-dark: hsl(10, 20%, 8%);
        --theme-color-light: hsl(10, 20%, 13%);
        --black-000: #000;
        --black-100: hsl(0, 0%, 10%);
        --black-200: hsl(0, 0%, 20%);
        --gray: hsl(0, 0%, 50%);
        --white-000: #fff;
        --white-100: hsl(0, 0%, 90%);
        --white-200: hsl(0, 0%, 80%);
        --white-300: hsl(0, 0%, 70%);
        --white-400: hsl(0, 0%, 60%);
    }
    #app .header-bar-tip {
        background-color: var(--theme-color-dark);
    }

    .shopee-radio__indicator,
    .shopee-radio-button,
    .shopee-button,
    .shopee-selector,
    .shopee-selector--tag,
    .shopee-cascader-panel,
    .shopee-checkbox__indicator,
    .shopee-checkbox-button,
    .shopee-table__header-container,
    .shopee-table__body-container,
    .shopee-table--with-append .shopee-table__append,
    .shopee-tabs-card .shopee-tabs__nav-tab,
    .shopee-tabs-module.shopee-tabs .shopee-tabs__nav-tab,
    .shopee-input__inner,
    .shopee-card--border,
    .shopee-input__inner {
        border-color: var(--white-400);
    }
    #app .performance-table tr span,
    #app .performance-table tr:first-child,
    .shopee-time-picker-panel__display-box,
    .shopee-date-shortcut-split,
    #app .performance-table tr span,
    #app .performance-table tr:first-child,
    .shopee-badge-x__sup,
    .shopee-input__input {
        border-color: var(--black-200);
    }

    .shopee-date-picker-panel__time,
    .shopee-pagination-sizes__content,
    .shopee-radio__indicator,
    .shopee-radio-button,
    .shopee-button,
    .shopee-selector,
    .shopee-selector--tag,
    .shopee-cascader-panel,
    .shopee-checkbox__indicator,
    .shopee-checkbox-button,
    .shopee-table__header-container,
    .shopee-table__body-container,
    .shopee-table--with-append .shopee-table__append,
    .shopee-tabs-card .shopee-tabs__nav-tab,
    .shopee-tabs-module.shopee-tabs .shopee-tabs__nav-tab,
    .shopee-input__inner,
    .shopee-card--border,
    [id*="-embedded"] *,
    #app * {
        border-color: var(--gray);
    }

    
    #app div[class*="side-nav"] .active,
    #app .dropdown-button,
    #app .sns,
    #app .red-dot {
        filter: invert(1);
    }

    #app .panel .header,
    #app .order-content .package-header,
    #app .shipmen-list-item .shipemnt-list-item-container .item-product .title,
    #app .shipmen-list-item .shipemnt-list-item-container .item-status .status,
    #app .shipmen-list-item .shipemnt-list-item-container .item-total .price,
    #app .shipmen-list-item .shipemnt-list-item-container .item-channel,
    #app .shipmen-list-item .ct-item-product-qty > .ct-item-product-num,
    #app .order-content .package-header,
    #app .shipmen-list-item .shipemnt-list-item-container .item-product .title,
    #app .shipmen-list-item .shipemnt-list-item-container .item-status .status,
    #app .shipmen-list-item .shipemnt-list-item-container .item-total .price,
    #app .shipmen-list-item .shipemnt-list-item-container .item-channel,
    #app .shipmen-list-item .ct-item-product-qty > .ct-item-product-num,

    #app .header .header-title,
    #app .title,
    #app .summary b,
    #app .signin-title {
        color: var(--white-000);
    }
    #app .item .desc,
    #app .item-title,
    #app .performance-table tr th,
    #app .doughnut .content,
    .shopee-tag__information.invalid,
    .shopee-date-table__header,
    .shopee-pager .shopee-button.shopee-pager__button-next,
    .shopee-pager .shopee-button.shopee-pager__button-prev,
    .shopee-table thead .shopee-table__cell,
    .shopee-breadcrumb--light.shopee-breadcrumb--ellipsis .shopee-breadcrumb-item:hover,
    .shopee-breadcrumb--light:not(.shopee-breadcrumb--ellipsis) .shopee-breadcrumb-item:hover,
    .shopee-form-item__extra,
    .shopee-alert,
    .shopee-alert-desc,
    .shopee-tabs__nav-next,
    .shopee-tabs__nav-prev,
    .shopee-tabs-card .shopee-tabs__nav-tab,
    .shopee-timeline-item__content,
    .shopee-timeline-item__time,
    .shopee-search .shopee-input__inner:not(.disabled) .shopee-input__clear-btn:hover,
    .shopee-search .shopee-input__suffix .shopee-input__suffix-icon:not(.disabled):hover,
    .shopee-anchor__item__title,
    #app .item .desc,
    #app .item-title,
    #app .performance-table tr th,
    #app .doughnut .content,
    .seller-address-common-cvs-address-form .shopee-form-item input,
    #app .export-container .result .text,
    #app .export-container .result.no-result,
    #app .export-container .result .text,
    #app .export-container .result.no-result,
    #app .shopee-file-upload:hover .drop-prompt .subtitle,
    #app .order-view-item .ct-item-delete .shopee-icon,
    #app .order-view-item .ct-item-price .shopee-price__after,
    #app .user-view-item .username,
    #app .label,
    #app .delivery-time,
    #app .cod-popup,
    #app .cod-popup,
    #app .shopee-modal__body .notice-container,
    #app .other-method .other-method-notice,
    #app .other-method .methods-container button,

    #app .container .edit-row .edit-label,
    #app .top h3,
    #app .top h3,
    #app .shopee-form-item .shopee-form-item__label,
    #app .shipmen-list-item .shipemnt-list-item-container .item-product .comment,
    #app .shipmen-list-item .shipemnt-list-item-container .item-status .substatus,
    #app .shipmen-list-item .shipemnt-list-item-container .actual-carrier-name,
    #app .shipmen-list-item .shipemnt-list-item-container .item-channel .desc,
    #app .label,
    #app .shopee-form-item .shopee-form-item__label,
    #app .shipmen-list-item .shipemnt-list-item-container .item-product .comment,
    #app .shipmen-list-item .shipemnt-list-item-container .item-status .substatus,
    #app .shipmen-list-item .shipemnt-list-item-container .actual-carrier-name,
    #app .shipmen-list-item .shipemnt-list-item-container .item-channel .desc,
    #app .label,
    #app .shipment-list-panel .shipment-list-header,
    #app .shipment-list-panel .item-channel .shopee-dropdown .shopee-button,
    #app .shipment-list-panel .item-action .shopee-dropdown .shopee-button,
    #app .shipment-list-panel .order-item,
    #app .shipment-list-panel .shipment-list-header,
    #app .shipment-list-panel .item-status .shopee-dropdown .shopee-button,
    #app .shipment-list-panel .order-item,

    #app .breadcrumb-text {
        color: var(--white-100);
    }

    #app .item-desc,
    #app .item-desc,
    #app .item .title,
    #app .item-number,
    #app .performance-table tr,
    .home .title,
    .shopee-radio,
    .shopee-radio.disabled .shopee-radio__indicator + .shopee-radio__label,
    .shopee-radio-button,
    .shopee-radio-button:hover,
    .shopee-radio-button.checked,
    .shopee-option,
    .shopee-option.active,
    .shopee-option:hover,
    .shopee-select__menu,
    .shopee-modal__title,
    .shopee-picker-header__label,
    .shopee-date-table__row,
    .shopee-month-table,
    .shopee-year-table,
    .shopee-date-picker__prefix,
    .shopee-button,
    .shopee-button--frameless,
    .shopee-pager__pages,
    .shopee-pagination-sizes__content.active,
    .shopee-pagination-jumper__input .shopee-number-input .shopee-input__inner.focused .shopee-input__input,
    .shopee-selector,
    .shopee-selector--tag .text,
    .shopee-cascader-menu,
    .shopee-cascader-menu__item.active,
    .shopee-cascader-menu__item:hover,
    .shopee-toast__content,
    .shopee-checkbox,
    .shopee-checkbox.disabled .shopee-checkbox__indicator + .shopee-checkbox__label,
    .shopee-checkbox-button,
    .shopee-dropdown-item,
    .shopee-dropdown-item:hover,
    .shopee-table tbody .shopee-table__cell,
    .shopee-breadcrumb--light:not(.shopee-breadcrumb--ellipsis) .shopee-breadcrumb-item:last-child,
    .shopee-step.finished .shopee-step-desc,
    .shopee-step.finished .shopee-step-title,
    .shopee-step.active .shopee-step-title,
    .shopee-step.active .shopee-step-desc,
    .shopee-alert--with-desc .shopee-alert-title,
    .shopee-tabs__nav,
    .shopee-tabs__nav-next:hover,
    .shopee-tabs__nav-prev:hover,
    .shopee-tabs__nav-tab.disabled,
    .shopee-tabs__nav-tab.disabled:hover,
    .shopee-tabs__nav-tab .shopee-tabs-close:hover,
    .shopee-tabs-card .shopee-tabs__nav-tab.disabled,
    .shopee-tabs-card .shopee-tabs__nav-tab.disabled:hover,
    .shopee-timeline-item__title,
    .shopee-tree .shopee-tree-node__content,
    .shopee-sidebar-item,
    .shopee-popover__popper--light.shopee-popper,
    .shopee-input__input,
    .shopee-search__menu,
    .shopee-spin-content-tips,
    .shopee-card__title,
    #app .item-desc,
    #app .item-desc,
    #app .item .title,
    #app .item-number,
    #app .performance-table tr,
    .home .title,
    #app .sub-title,
    #app .tools-title,
    #app .highlights-content .single-event-contanier .event-detail .event-contanier .event-desc .desc-text-container .event-title,
    #app .highlights-content .single-event-contanier .event-detail .event-contanier .event-desc .desc-text-container .event-desc-text .primary,
    #app .voucher-campaign-item-title-text,
    #app .voucher-campaign-item-desc .primary,
    #app .doughnut .content,
    #app .breadcrumb-name.active,
    #app .link-item a,
    #app .subaccount-header .name,
    #app .subaccount-logout,
    #app .account-info,
    #app .account-name,
    #app .account-dropdown-item,
    #app .subaccount-dropdown-info .subaccount-dropdown-name,
    #app .education-action,
    #app .education-hub,
    #app .education-item,
    #app .education-item .text,
    #app .title,
    #app .menu-header .menu-header-left,
    #app .sidebar-submenu-item,
    #app .text-popup .popup-box,
    body,
    #app .shopee-otp-verification__heading,
    .shopee-radio,
    .shopee-radio.disabled .shopee-radio__indicator + .shopee-radio__label,
    .shopee-radio-button,
    .shopee-radio-button:hover,
    .shopee-radio-button.checked,
    .shopee-option,
    .shopee-option.active,
    .shopee-option:hover,
    .shopee-select__menu,
    .shopee-modal__title,
    .shopee-picker-header__label,
    .shopee-date-table__row,
    .shopee-month-table,
    .shopee-year-table,
    .shopee-date-picker__prefix,
    .shopee-button,
    .shopee-button--frameless,
    .shopee-pager__pages,
    .shopee-pagination-sizes__content.active,
    .shopee-pagination-jumper__input .shopee-number-input .shopee-input__inner.focused .shopee-input__input,
    .shopee-selector,
    .shopee-selector--tag .text,
    .shopee-cascader-menu,
    .shopee-cascader-menu__item.active,
    .shopee-cascader-menu__item:hover,
    .shopee-toast__content,
    .shopee-checkbox,
    .shopee-checkbox.disabled .shopee-checkbox__indicator + .shopee-checkbox__label,
    .shopee-checkbox-button,
    .shopee-dropdown-item,
    .shopee-dropdown-item:hover,
    .shopee-table tbody .shopee-table__cell,
    .shopee-breadcrumb--light:not(.shopee-breadcrumb--ellipsis) .shopee-breadcrumb-item:last-child,
    .shopee-step.finished .shopee-step-desc,
    .shopee-step.finished .shopee-step-title,
    .shopee-step.active .shopee-step-title,
    .shopee-step.active .shopee-step-desc,
    .shopee-alert--with-desc .shopee-alert-title,
    .shopee-tabs__nav,
    .shopee-tabs__nav-next:hover,
    .shopee-tabs__nav-prev:hover,
    .shopee-tabs__nav-tab.disabled,
    .shopee-tabs__nav-tab.disabled:hover,
    .shopee-tabs__nav-tab .shopee-tabs-close:hover,
    .shopee-tabs-card .shopee-tabs__nav-tab.disabled,
    .shopee-tabs-card .shopee-tabs__nav-tab.disabled:hover,
    .shopee-timeline-item__title,
    .shopee-tree .shopee-tree-node__content,
    .shopee-sidebar-item,
    .shopee-popover__popper--light.shopee-popper,
    .shopee-input__input,
    .shopee-search__menu,
    .shopee-spin-content-tips,
    #app div[class*="side-nav"] a[href*="javascript"],
    #app div[class*="product-list"],
    #app div[class*="product-filter"],
    #app div[class*="portal-panel"],
    #app .notification-menu .folder a,
    #app .summary,
    [class*="src-pages-ConversationDetail"] *,
    #app .expired .expired-content .summary,
    .shopee-card__title {
        color: var(--white-200);
    }

    #app .sns-icon .label,
    #app .notification-menu,
    #app .menu-header,
    #app .menu-footer,
    #app .card,
    .sidebar-container,
    #app .notification-menu,
    #app .notification-content-container,
    #app .order-hints .osh .osh-info,
    #app .shipment-list-panel .order-item,
    #app .shipment-list-panel .order-item,
    #app .logo,
    #app .logo,
    #app .shipmen-list-item .shipemnt-list-item-container .item-status .status .time-left-within-some-hour,
    #app .shipmen-list-item .shipemnt-list-item-container .item-status .status .time-left-within-some-hour {
        background-color: var(--black-100);
    }
    #app .performance-table tr th,
    #app .hover:hover,
    .shopee-radio-button.disabled,
    .shopee-radio-button.disabled:hover,
    .shopee-time-spinner__list li:hover,
    .shopee-date-table__row .shopee-date-table__cell.in-selecting-range:after,
    .shopee-date-table__row .shopee-date-table__cell.in-selecting-range:before,
    .shopee-date-table__row .shopee-date-table__cell.week-selecting:after,
    .shopee-date-table__row .shopee-date-table__cell.week-selecting:before,
    .shopee-date-table__row .shopee-date-table__cell-inner.in-selecting-range,
    .shopee-date-table__row .shopee-date-table__cell-inner.selecting-range-end,
    .shopee-date-table__row .shopee-date-table__cell-inner.selecting-range-start,
    .shopee-date-table__row .shopee-date-table__cell-inner:hover,
    .shopee-date-table__row .shopee-date-table__cell-inner.week-selecting,
    .shopee-date-table__row .shopee-date-table__cell-inner.week-selecting:hover,
    .shopee-month-table__col.in-selecting-range,
    .shopee-month-table__col.selecting-range-end,
    .shopee-month-table__col.selecting-range-start,
    .shopee-month-table__col:hover,
    .shopee-year-table__col.in-selecting-range,
    .shopee-year-table__col.selecting-range-end,
    .shopee-year-table__col.selecting-range-start,
    .shopee-year-table__col:hover,
    .shopee-date-shortcut-item:hover,
    .shopee-date-shortcut-item:hover .shopee-date-shortcut-item__display,
    .shopee-selector.disabled,
    .shopee-checkbox--outline.disabled .shopee-checkbox__input:checked + .shopee-checkbox__indicator,
    .shopee-checkbox-button.disabled,
    .shopee-checkbox-button.disabled:hover,
    .shopee-table tbody tr.disabled,
    .shopee-table__header-container,
    .shopee-upload-dragger.disabled,
    .shopee-tabs-card .shopee-tabs__nav-tab,
    .shopee-progress-bar .bar__outer,
    .shopee-input__inner.disabled,
    .shopee-input__warning-text,
    #app .performance-table tr th,
    #app .hover:hover,
    #app .shopee-selector,
    #app .shipment-list-panel .shipment-list-header,
    #app .shipment-list-panel .shipment-list-header,
    #app .hover:hover {
        background-color: var(--black-200);
    }

    .home .card,
    .shopee-tag,
    .shopee-tag__information.default,
    .shopee-tag__information.warn,
    .shopee-tag__explain,
    .shopee-tag__expired,
    .shopee-tag__promotion,
    .shopee-radio__indicator,
    .shopee-radio__indicator:before,
    .shopee-radio-button,
    .shopee-radio-group--outline .shopee-radio-button,
    .shopee-modal__content,
    .shopee-date-table,
    .shopee-date-table__row .shopee-date-table__cell.in-range.disabled:after,
    .shopee-date-table__row .shopee-date-table__cell.in-range.disabled:before,
    .shopee-date-table__row .shopee-date-table__cell.in-range.in-selecting-range.disabled:after,
    .shopee-date-table__row .shopee-date-table__cell.in-range.in-selecting-range.disabled:before,
    .shopee-date-table__row .shopee-date-table__cell-inner.disabled.in-range,
    .shopee-date-table__row .shopee-date-table__cell-inner.disabled.in-selecting-range,
    .shopee-month-table,
    .shopee-month-table__col.disabled.in-range,
    .shopee-month-table__col.disabled.in-selecting-range,
    .shopee-year-table,
    .shopee-year-table__col.disabled.in-range,
    .shopee-year-table__col.disabled.in-selecting-range,
    .shopee-date-picker-panel__date,
    .shopee-switch:before,
    .shopee-button,
    .shopee-button--dashed.shopee-button--primary,
    .shopee-selector,
    .shopee-cascader-menu,
    .shopee-toast-body,
    .shopee-checkbox__indicator,
    .shopee-checkbox--outline .shopee-checkbox__input:checked + .shopee-checkbox__indicator,
    .shopee-checkbox-button,
    .shopee-dropdown-menu,
    .shopee-dropdown-item.disabled:hover,
    .shopee-table__body-container,
    .shopee-alert--warning,
    .shopee-tabs-card .shopee-tabs__nav-tab.active,
    .shopee-slider-stop,
    .shopee-slider-mark-dot,
    .shopee-slider-thumb__button,
    .shopee-tree .shopee-tree-node__content,
    .shopee-tree .shopee-tree-node__content.is-current,
    .shopee-sidebar,
    .shopee-popper,
    .shopee-popover__popper--light.shopee-popper,
    .shopee-input__inner,
    .shopee-search__menu,
    body,
    .shopee-radio-button.disabled,
    .shopee-radio-button.disabled:hover,
    .shopee-time-spinner__list li:hover,
    .shopee-date-table__row .shopee-date-table__cell.in-selecting-range:after,
    .shopee-date-table__row .shopee-date-table__cell.in-selecting-range:before,
    .shopee-date-table__row .shopee-date-table__cell.week-selecting:after,
    .shopee-date-table__row .shopee-date-table__cell.week-selecting:before,
    .shopee-date-table__row .shopee-date-table__cell-inner.in-selecting-range,
    .shopee-date-table__row .shopee-date-table__cell-inner.selecting-range-end,
    .shopee-date-table__row .shopee-date-table__cell-inner.selecting-range-start,
    .shopee-date-table__row .shopee-date-table__cell-inner:hover,
    .shopee-date-table__row .shopee-date-table__cell-inner.week-selecting,
    .shopee-date-table__row .shopee-date-table__cell-inner.week-selecting:hover,
    .shopee-month-table__col.in-selecting-range,
    .shopee-month-table__col.selecting-range-end,
    .shopee-month-table__col.selecting-range-start,
    .shopee-month-table__col:hover,
    .shopee-year-table__col.in-selecting-range,
    .shopee-year-table__col.selecting-range-end,
    .shopee-year-table__col.selecting-range-start,
    .shopee-year-table__col:hover,
    .shopee-date-shortcut-item:hover,
    .shopee-date-shortcut-item:hover .shopee-date-shortcut-item__display,
    .shopee-selector.disabled,
    .shopee-checkbox--outline.disabled .shopee-checkbox__input:checked + .shopee-checkbox__indicator,
    .shopee-checkbox-button.disabled,
    .shopee-checkbox-button.disabled:hover,
    [class*="src-pages-ConversationDetail"] *,
    .seller-address-common-map-location-picker .address,
    #app .shopee-fixed-bottom-card .fixed-bottom,
    #app .portal-sale-root .portal-sale-container,
    #app .portal-sale-root .portal-panel,
    .shopee-table tbody tr.disabled,
    .shopee-table__header-container,
    .shopee-upload-dragger.disabled,
    .shopee-tabs-card .shopee-tabs__nav-tab,
    .shopee-progress-bar .bar__outer,
    .shopee-input__inner.disabled,
    #app div[class*="product-list"],
    #app div[class*="product-detail"],
    #app div[class*="side-nav"],
    #app div[class*="product-filter"],
    #app div[class*="portal-panel"],
    .shopee-input__warning-text {
        background-color: var(--theme-color);
    }
    #app .header-bar,
    #app .junction-dot,
    #app .tooltip-content .old-button-desc,
    #app .sidebar-menu,
    #app .sidebar,
    .shopee-badge.inverse,
    #app .signin-panel,
    #app .missions,
    #app [class*="container"],
    [class*="src-pages-ChatWindow"],
    .shopee-tag,
    .shopee-tag__information.default,
    .shopee-tag__information.warn,
    .shopee-tag__explain,
    .shopee-tag__expired,
    .shopee-tag__promotion,
    .shopee-radio__indicator,
    .shopee-radio__indicator:before,
    .shopee-radio-button,
    .shopee-radio-group--outline .shopee-radio-button,
    .shopee-modal__content,
    .shopee-date-table,
    .shopee-date-table__row .shopee-date-table__cell.in-range.disabled:after,
    .shopee-date-table__row .shopee-date-table__cell.in-range.disabled:before,
    .shopee-date-table__row .shopee-date-table__cell.in-range.in-selecting-range.disabled:after,
    .shopee-date-table__row .shopee-date-table__cell.in-range.in-selecting-range.disabled:before,
    .shopee-date-table__row .shopee-date-table__cell-inner.disabled.in-range,
    .shopee-date-table__row .shopee-date-table__cell-inner.disabled.in-selecting-range,
    .shopee-month-table,
    .shopee-month-table__col.disabled.in-range,
    .shopee-month-table__col.disabled.in-selecting-range,
    .shopee-year-table,
    .shopee-year-table__col.disabled.in-range,
    .shopee-year-table__col.disabled.in-selecting-range,
    .shopee-date-picker-panel__date,
    .shopee-switch:before,
    .shopee-button,
    .shopee-button--dashed.shopee-button--primary,
    .shopee-selector,
    .shopee-cascader-menu,
    .shopee-toast-body,
    .shopee-checkbox__indicator,
    .shopee-checkbox--outline .shopee-checkbox__input:checked + .shopee-checkbox__indicator,
    .shopee-checkbox-button,
    .shopee-dropdown-menu,
    .shopee-dropdown-item.disabled:hover,
    .shopee-table__body-container,
    .shopee-alert--warning,
    .shopee-tabs-card .shopee-tabs__nav-tab.active,
    .shopee-slider-stop,
    .shopee-slider-mark-dot,
    .shopee-slider-thumb__button,
    .shopee-tree .shopee-tree-node__content,
    .shopee-tree .shopee-tree-node__content.is-current,
    .shopee-sidebar,
    .shopee-popper,
    .shopee-popover__popper--light.shopee-popper,
    .shopee-input__inner,
    .shopee-search__menu {
        background-color: var(--theme-color-dark);
    }
}